.btn {
    display: block;    
    padding: .5rem 2rem;
    border-radius: 30px;
    outline: none;
    border: none;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s ease;
}