.head-categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.category-form {
    display: flex;
    align-self: flex-end;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    .btn {
        margin: 0;
        margin-top: 1rem;
        margin-left: 1rem;
    }
}

.category-list {
    margin-top: 3rem;
}

.category-input {
    width: 100%;
    max-width: 300px;
    border-radius: 30px;
    border: none;
    padding: .5rem 2rem;
    font-size: 1rem;
    margin-top: 1rem;
    outline: none;
    background-color: $light;
    color: $dark;
}

.category-list-item, .category-btns, .category-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-list-item {
    background-color: $info;
    border-radius: 30px;
    padding: 1rem 2rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: calc(100% - 4rem);
    max-width: 600px;

    display: flex;
    flex-wrap: wrap;
}

.category-btns {
    .btn {
        margin: 0;
        margin-left: 1rem;
    }
}

.category-text {
    color: $light;
    font-size: 1rem;
    margin-right: 1rem;
}


@media screen and (max-width: 569px) {
    .category-form {
        .btn {
            width: 100%;
            margin: 0;
            margin-top: 1rem;
        }

        .category-input {
            max-width: 100%;
            margin-top: 1rem;
        }
    }

    .head-categories {
        justify-content: center;
    }
}

@media screen and (max-width: 526px) {
    .category-btns {
        width: 100%;
        .btn {
            margin-left: 0;
            margin-top: 1rem;
        }
    }
}