.course-image {
    width: 100%;
    min-height: 150px;
    max-height: 400px;
    border-radius: 30px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, .4);
    display: flex;
}

.course-container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 3rem;
    position: relative;
}

.course-titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.course-title {
    color: $blue-dark;
    font-size: 36px;
    font-weight: 900;
    text-transform: capitalize;
}

.course-category {
    color: $gray;
    font-size: 18px;
    letter-spacing: 4px;
    font-weight: 900;
}

.course-score {
    color: $info;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.course-teacher {
    color: $gray;
    font-size: 18px;
    font-weight: 300;
}

.course-details {
    margin-bottom: 3rem;
}

.course-desc {
    margin-bottom: 2rem;
}

.text-title, .text-body {
    color: $gray;
    font-size: 16px;
    font-weight: 700;
}

.text-title {
    margin-bottom: 2rem;
}

.text-body {
    font-weight: 300;
}
.course-units {
    display: flex;
    justify-content: space-between;
}

.course-btns {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .btn {
        width: 290px;
    }
}