.pay-view {
    justify-content: center;
    .d-flex {
        align-items: center;
    }
}

.form-pay {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    justify-content: space-between;

    button {
        padding: 1rem 2rem;
        margin: 0;
    }

    margin-bottom: .5rem;
}

.check-div {
    display: flex;
    justify-content: space-around;
    align-items: center;

    * {
        margin: 1rem;
        font-size: 1rem;
    }
}

.input-pay {
    border-radius: 10px;
    outline: none;
    border: 2px $primary solid;
    margin: .5rem;
    padding: 1rem;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.check-pay {
    transform: scale(1.5);
}

.pay-resume {
    width: 100%;
    max-width: 300px;
    margin: 0 1rem;
    padding: 2rem 3rem;
    background-color: $light;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.title-pay {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: $blue-dark;
    margin-bottom: 2rem;
}
.pay-view-title {
    font-size: 48px;
    font-weight: bold;
    color: $blue-dark;
    margin-bottom: 5rem;
    align-self: flex-start;
}

table {
    width: 100%;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.d-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.pay-image {
    width: 80%;
    margin-top: 2rem;
}

.div-pay {
    display: flex;
    flex-direction: column;
    align-items: center;
    .btn-info {
        padding: 1rem 3rem;
        margin-top: 5rem;
        align-self: flex-start;
    }
}