.section {
    width: 100%;
    align-self: flex-start;
}

.footer {
    min-height: 100px;
    height: 100%;
    margin: 0;
    background-color: #2F2E41;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.header {
    display: flex;
    width: 95%;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 auto;
}

.header-logo {
    font-size: 2.5rem;
    font-weight: 600;
}

.t1 {
    color: $info;
}

.t2 {
    color: $dark;
}

.t3 {
    color: $primary;
}

.t4 {
    color: $light;
}

.header-links {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
}

.header-link {
    font-size: 1rem;
    font-weight: 500;
    color: $light-gray-2;
    transition: 0.1s ease-in-out;

    &:hover {
        color: $dark;
    }
}

.header-link-active {
    color: $dark;
}

.header-auth {
    background-color: $light;
    padding: 0.5rem 2rem;
    border-radius: 30px;
    color: $info;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: darken($color: $light, $amount: 1%);
        color: $info;
    }
}

.header-auth-focus {
    background-color: $secondary;
    color: $white;

    &:hover {
        background-color: darken($color: $secondary, $amount: 5%);
        color: $white;
    }
}

.home-view {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 200px - 4rem);
    height: 100%;
    flex-wrap: wrap;
    margin: 2rem;
}

.title-h1 {
    font-size: 3.5rem;
    font-weight: 600;
}

.home-view-content {
    width: 90%;
    max-width: 500px;
}

.home-text {
    font-size: 1.2rem;
    max-width: 500px;
    margin-top: 2rem;
}

.text-blue-dark {
    color: $blue-dark;
}

.text-gray {
    color: $light-gray-2;
}

.btn-home {
    margin-top: 3rem;
    max-width: 200px;
    color: $light;
    background-color: $secondary;

    &:hover {
        background-color: darken($color: $secondary, $amount: 5%);
    }
}

.img-home {
    width: 100%;
    max-width: 547px;
    height: auto;
    margin: 0 2rem;
    margin-bottom: 2rem;
}

.about-title {
    text-align: center;
    margin: 1rem auto;
    width: 90%;
}

.about-h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.about-h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 2rem;
}

.about-h3 {
    font-size: 32px;
    font-weight: 500;
    color: $dark;
    margin-bottom: 4rem;
    text-align: center;
}

.about-img {
    width: 90%;
    max-width: 500px;
    margin: 1rem;
}

.text-primary {
    color: $primary;
}

.text-blue {
    color: $blue;
}

.about-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.about-text-strong {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.about-view {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    min-height: calc(100vh - 200px);
}

.about-p {
    font-size: 14px;
    font-weight: 400;
}

.about-section-content {
    max-width: 533px;
    margin: 1rem;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 5rem;
    width: 90%;
}

.mb-1 {
    margin-bottom: 1rem;
}

.services-view {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    min-height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.services-view-content {
    max-width: 445px;
    margin: 1rem;
}

.services-h2 {
    font-size: 32px;
    color: $dark;
    font-weight: 700;
    margin-bottom: 4rem;
}

.services-text {
    font-size: 14px;
    font-weight: 400;
}

.services-list {
    margin-top: 2rem;
}

.services-item {
    color: $dark;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.icon-item {
    font-size: 2.5rem;
    color: $primary;
    margin-right: 1rem;
}

.services-cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    justify-content: center;
}

.serivces-card {
    width: 220px;
    height: 260px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    margin: 1rem;
}

.service-card-icon {
    font-size: 50px;
    padding: 1rem 2rem;
    padding-top: 2rem;
}

.service-card-title {
    font-size: 20px;
    font-weight: 500;
    padding: 1rem 2rem;
}

.service-card-text {
    color: #656478;
    font-size: 12px;
    font-weight: 400;
    padding: 0 2rem;
}

.service-card-button {
    margin: 1rem 2rem;
    background-color: transparent;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: $primary;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.icon-blue {
    color: #1E85FF;
}

.icon-green {
    color: #8ED16F;
}

.icon-red {
    color: #E14B5A;
}

.icon-orange {
    color: #FFAA5B;
}

.modal-light {
    margin: 0;
    background-color: $light;
    border: $primary 3px solid;
    border-radius: 15px;
    max-width: 520px;

    .modal-header {

        border: none;

        .modal-title {
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
            font-size: 25px;
        }

        .btn-modal {
            color: $blue-dark;
        }
    }
}


.nav-button {
    display: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    color: var(--light);
    font-size: 2rem;
}

@media screen and (max-width: 800px) {

    .header-links-active {
        opacity: 1 !important;
        visibility: visible !important;
    }

    .header-links {
        transition: 0.2s ease-in-out;
        visibility: hidden;
        opacity: 0;
        flex-direction: column;
        width: 100%;
        margin: 0;
        align-items: center;
        position: absolute;
        top: 100px;
        left: 0;
        z-index: 1;
        background-color: $light;
        padding: 2rem 0;
        border-top: $primary 2px solid;
        .header-link {
            margin: 1rem 0;
        }
    }

    .home-view {
        margin: 0;
        width: 100%;
    }

    .home-view-content {
        text-align: center;
    }

    .btn-home {
        margin: 1rem auto;
        margin-bottom: 2rem;
    }

    .img-home {
        margin: 2rem 0;
        width: 80%;
    }

    .title-h1 {
        font-size: 2.5rem;
    }

    .home-text {
        font-size: 1rem;
    }

    .nav-button {
        display: block;
    }

    .about-h2 {
        margin-top: 1rem;
        line-height: 35px;
    }

    .services-h2 {
        text-align: center;
        margin-bottom: 2rem;
    }

    .services-text {
        text-align: center;
    }

    .services-item {
        justify-content: center;
    }
}

@media screen and (max-width: 700px) {
    .header {
        margin: 0 auto;
        width: 90%;
    }

    .footer {
        a {
            width: 100%;
            text-align: center;
            margin: 2rem 0;
        }
    }
}