.profile-container {
    width: 90%;
    max-width: 800px;
    margin: auto;
    overflow: scroll;
}

.user-top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.user-top-container {
    width: 100%;
    background-color: $light-gray;
    border-radius: 30px;
    padding: 1rem 0;
    position: relative;
    margin-bottom: 5rem;
}

.user-image-container {
    position: absolute;
    left: 0;
    bottom: -2.5rem;

}

.user-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.user-edit-image {
    position: absolute;
    bottom: 1rem;
    right: 0;
    background-color: $secondary;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    outline: none;
    border: none;
    cursor: pointer;
    color: $blue-dark;
    font-size: 1rem;
    transform: 0.1s ease-in-out;
}

.user-edit-image:hover {
    background-color: $blue-dark;
    color: $white;
}

.user-names {
    font-size: 21px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #000;
    font-weight: 600;
    text-align: center;
    background-color: $white;
    border-radius: 30px;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0.5rem 0;
}

.user-form {
    background-color: $light;
    padding: 2rem 3rem;
    border-radius: 30px;
}

.user-form-title {
    color: $info;
    font-size: 15px;
    margin-bottom: 0.5rem;
}

.input-button {
    width: 100%;
    background-color: #d8d1fe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
}

.enabled {
    background-color: $secondary;
}

.user-form-input {
    width: 60%;
    border-radius: 30px;
    padding: 1rem 1.5rem;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: $dark;
    font-weight: bold;
    background-color: transparent;
}

.user-form-button {
    border-radius: 30px;
    padding: 1rem 1.5rem;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    font-family: 'IBM Plex Sans', sans-serif;
    color: $primary;
    background-color: $white;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.user-form-button:hover {
    background-color: $primary;
    color: $white;
}

.user-form-group {
    display: flex;    
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.profile-btns {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2rem;
    .btn {
        padding: 1rem 2rem;
        margin: 1rem;
    }
}