//COLORS
$white: #FFFFFF;
$dark: #2F2E41;
$gray: #656478;
$blue-dark: #3B436A;
$light: #EDEAFE;
$blue: #575DFB;
$primary: #6C63FF;
$secondary: #A5A6F6;
$info: #9E8AFC;
$warning: #FFB252;
$danger: #FF7E7E;
$danger-2: #E14B5A;
$danger-3: #D32020;
$success: #2AB930;
$success-1: #04CA83;
$light-gray: #C7CDF1;
$light-gray-2: #AEB1BF;

$dark-2: #3F3D56;

$text-danger: #FAC1D6;
$text-success: #C5F2C7;

$navbar-width: 300px;
